header{
    h1{
        font-size: 20px;
        color: red;
    }
    nav{
        ul{
            li{
                a{
                    text-decoration: none;
                }
            }
        }
    }
}